<!-- Header -->
<header class="bg-white text-dark border-bottom sticky-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
 
        {% if site.data.config.name == 'community' %}
        <a class="navbar-brand d-flex align-items-center me-3" href="/community">
          <img width="50" height="auto" alt="Wikimint Community" src="/assets/images/wikimint-icon.webp"/>
          <span class="ms-2">Community</span>
        </a>
      {% elsif site.data.config.name == 'tools' %}
        <a class="navbar-brand d-flex align-items-center" href="/tools">
          <img width="50" height="auto" alt="Wikimint Tools" src="/assets/images/wikimint-icon.webp"/>
          <span class="ms-2">Tools</span>
        </a>
        {% elsif site.data.config.name == 'glossary' %}
        <a class="navbar-brand d-flex align-items-center" href="/glossary">
          <img width="50" height="auto" alt="Wikimint Glossary" src="/assets/images/wikimint-icon.webp"/>
          <span class="ms-2">Glossary</span>
        </a>
        {% elsif site.data.config.name == 'wmt' %}
        <a class="navbar-brand d-flex align-items-center" href="/wmt">
          <img width="50" height="auto" alt="Wikimint (WMT)" src="/assets/images/wikimint-icon.webp"/>
          <span class="ms-2">WMT</span>
        </a>        
      {% else %}
        <a class="navbar-brand" href="/">
          <img width="175" height="33" alt="Wikimint Logo" src="/assets/images/wikimint-logo.webp"/>
        </a>
      {% endif %}
      


      

          <!-- <span class="d-flex align-items-center ms-auto float-end  d-md-none">
            <span class="nav-item me-3 guest-only">
                <button class="btn btn-primary rounded-2 wmsignin" data-bs-toggle="modal" data-bs-target="#signin">Sign in</button>
            </span>
            
            <span class="nav-item me-3 member-only">
              <div class="btn-group">
                  <i class="bi bi-person-circle p-0 m-0 rounded-circle fs-4" data-bs-toggle="dropdown" aria-expanded="false"></i>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="nav-link" href="/community/dashboard"><button class="dropdown-item m-name">Dashboard</button></a></li>
                  <li><a class="nav-link" href="/community/dashboard"><button class="dropdown-item">Dashboard</button></a></li>
                  <li><a class="nav-link m-link" href="#"><button class="dropdown-item" type="button">My profile</button></a></li>
                  <li class="wmlogout"><button class="dropdown-item text-danger" type="button">Logout</button></li>

                </ul>
              </div>
            </span>          
        </span> -->

        <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">

            {% if site.data.config.name == 'wmt' %}
            <li class="nav-item">
              <a class="nav-link" href="/wmt">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/wmt/whitepaper.pdf" target="_blank">Whitepaper</a>
            </li>            
            <li class="nav-item">
              <a class="nav-link" href="#usecase">Use Case</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tokenomics">Tokenimics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://bscscan.com/token/0x8274fc049f6d7c57df841ef3eacdf779f2ecd2b7" target="_blank">Contract</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/wikimint/wmt" target="_blank">Source Code</a>
            </li>                        
               {% else %}

               <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Explore
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/">App Platform</a></li><hr class="mt-2"/>
                  <li><a class="dropdown-item" target="_blank" href="https://www.wikimint.com">Wikimint</a></li>
                  <li><a class="dropdown-item" target="_blank" href="https://developer.wikimint.com">Developer</a></li>
                  <li><a class="dropdown-item" target="_blank" href="/wmt">Token (WMT) BEP-20</a></li>
                  <li><a class="dropdown-item" href="/tools">Online Tools</a></li>
                  <!-- <li><a class="dropdown-item" href="/community">Community</a></li> -->
                </ul>
              </li>
             
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Tools
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/tools">Explore All Tools</a></li><hr class="mt-2"/>
                  <li><a class="dropdown-item" href="/tools#web-development">Web & Development</a></li>
                  <li><a class="dropdown-item" href="/tools#seo-content">SEO & Content</a></li>
                  <li><a class="dropdown-item" href="/tools#security-privacy">Security & Privacy</a></li>
                  <li><a class="dropdown-item" href="/tools#general-utilities">General Utilities</a></li>
                </ul>
              </li>
  
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Community
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/community">Community</a></li><hr class="mt-2"/>
                  <li><a class="dropdown-item" href="/community/user">All members</a></li>
                  <li class="guest-only"><a class="dropdown-item" href="/community">Join now</a></li>
                </ul>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://www.wikimint.com/p/about.html">About</a>
              </li>
              
              <!-- <li class="nav-item guest-only">
                <a class="nav-link" href="/community">Join now</a>
              </li> -->


               {% endif %}
               <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://www.wikimint.com/p/contact.html">Contact</a>
              </li>

          </ul>
        </div>

        <!-- <span class="d-flex align-items-center ms-auto float-end  d-none d-md-block">
          <span class="nav-item ms-3 guest-only">
              <button class="btn btn-primary rounded-2 wmsignin" data-bs-toggle="modal" data-bs-target="#signin">Sign in</button>
          </span>
          
          <span class="nav-item ms-3 member-only">
            <div class="btn-group">
                <i class="bi bi-person-circle p-0 m-0 rounded-circle fs-4" data-bs-toggle="dropdown" aria-expanded="false"></i>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="nav-link" href="/community/dashboard"><button class="dropdown-item m-name">Dashboard</button></a></li>
                <li><a class="nav-link" href="/community/dashboard"><button class="dropdown-item">Dashboard</button></a></li>
                <li><a class="nav-link m-link" href="#"><button class="dropdown-item" type="button">My profile</button></a></li>
                <li class="wmlogout"><button class="dropdown-item text-danger" type="button">Logout</button></li>

              </ul>
            </div>
          </span>          
      </span> -->


      </nav>
    </div>
  </header>