<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
  <link rel="stylesheet" href="/assets/css/style.css?v={{site.data.config.v}}">
  <link rel="stylesheet" href="/assets/lib/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/lib/bootstrap-icons.min.css">
  <meta name="google-signin-client_id" content="69794757092-emuuqmul46p24bre1qsim9veuf5hdnoh.apps.googleusercontent.com">
  <script src="/assets/lib/jquery.min.js"></script>
  <script src="/assets/js/wmlib.js?v={{site.data.config.v}}"></script>
  {% if site.data.config.name != 'wmt' %}
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7784071102690039"
     crossorigin="anonymous"></script>
     {% endif %}
</head>
<body>
{% include header.html %}
<main>
  {{ content }}
</main>


{% include footer.html %}


</body>
</html>
